html ._1md0{padding:16px 0 0 0}
.sp_GPqZJ_sO3wF{background-image:url(/rsrc.php/v3/yw/r/qAwoXqE3W5a.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:36px;width:36px}.sp_GPqZJ_sO3wF.sx_e80168{width:10px;height:11px;background-position:0 -37px}.sp_GPqZJ_sO3wF.sx_412bb0{background-position:0 0}

#bootloader_2LK_r{height:42px;}.bootloader_2LK_r{display:block!important;}